[Unit]
Description=clockhead : A CPU frequency scaling daemon for Linux with no configuration
After=network.target network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/clockhead

[Install]
WantedBy=multi-user.target
