[Unit]
Description=clockhead
After=network.target network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/clockhead

[Install]
WantedBy=multi-user.target
