[Unit]
Description=clockhead
After=network.target network-online.target

[Service]
Type=simple
User=root
ExecStart=/usr/bin/clockhead
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
